

.ChestClicker{
    grid-area: ChestClicker;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ChestClicker_Chest{
    background: url('../img/chest.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.ChestClicker_Chest:hover{
    transform: scale(1.1);
    transition-duration : 100ms;
}
.ChestClicker_Chest:active{
    transform: scale(1.4);
    transition-duration: 200ms;
}